# Initial list of options was provided by running swiftformat with `--inferoptions`

--binarygrouping none
--closingparen same-line
--commas inline
--decimalgrouping none
--hexgrouping none
--ifdef no-indent
--octalgrouping none
--patternlet hoist
--nospaceoperators
--stripunusedargs closure-only
--wraparguments after-first
--wrapcollections before-first
--exclude Pods
--swiftversion 5.0